* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --orange-color: #ff9e00;
  --button-color: #9dd9d2;
  --gray-color: #343a40;
  --white-color: #f1faee;
}

nav {
  background-color: var(--white-color);
}

.brand img {
  width: 100px;
}

/* Menu styling */
.menu-container {
  width: 1152px;
  max-width: 90%;
  margin: 0 auto;
}
.active img {
  width: 50%;
  height: 50px;
}
.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-wrapper ul.nav-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav-wrapper ul.nav-list li {
  margin-right: 20px;
  padding: 20px 10px;
  position: relative;
}

.nav-wrapper ul.nav-list li a {
  color: var(--gray-color);
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.5s ease-in-out;
}

.nav-wrapper ul.nav-list li a:hover,
.nav-wrapper ul.nav-list {
  color: var(--orange-color);
}

nav ul.dropdown-list {
  list-style-type: none;
  display: block;
  background-color: var(--white-color);
  padding: 6px 16px;
  margin-top: 10px;
  position: absolute;
  width: max-content;
  z-index: 9999;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  pointer-events: none;
  border-radius: 5px;
}

.nav-wrapper ul.dropdown-list li {
  margin-left: 0;
  padding: 5px 0;
}

.nav-wrapper ul.dropdown-list li a {
  color: var(--gray-color);
}

.nav-wrapper ul.nav-list li:hover .dropdown-list {
  opacity: 1;
  pointer-events: auto;
  animation: moveUp 0.5s ease-in-out forwards;
}

@keyframes moveUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.nav-wrapper .nav-list li {
  color: var(--white-color);
}

.nav-wrapper .nav-list li {
  color: var(--gray-color);
}
.btn-blue {
  display: inline;
  width: 100%;
  margin: 0px 20px;

  background: none;
  border: none;
  text-decoration: none;
}
.btn-blue:hover a {
  background-color: var(--button-color);
  color: white !important;
}
.btn-blue a {
  background-color: var(--orange-color);
  padding: 10px 10px;
  border-radius: 50px;
  cursor: pointer;
}

/* Responsive menu */
.hamberger {
  display: none;
}

.mobile .hamberger {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  cursor: pointer;
  position: relative;
  z-index: 9999;
}

.mobile .hamberger span {
  background-color: var(--gray-color);
  width: 28px;
  height: 2px;
  margin-bottom: 8px;
}

.mobile ul.nav-list {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

.mobile .nav-wrapper ul li {
  text-align: center;
  margin-left: 0;
}

.mobile ul.dropdown-list {
  position: relative;
  background: transparent;
  text-align: center;
  height: 0;
  overflow-y: hidden;
  transition: opacity 1s ease-in-out;
  padding-top: 0;
}

.mobile .nav-wrapper ul li:hover .dropdown-list {
  height: max-content;
  padding-top: 6px;
}

.mobile .nav-wrapper ul.dropdown-list li a {
  color: var(--orange-color);
}

.mobile .nav-wrapper ul.dropdown-list li a:hover {
  color: var(--orange-color);
}

.mobile ul.nav-list.open {
  opacity: 1;
  pointer-events: auto;
}
